<template>
  <aside class="col-sm-2 vh-100 px-0">
    <h2 class="text-white">Post</h2>
    <List />
  </aside>
</template>

<script>
import List from "@/components/template_parts/sidebar/List";
export default {
  components: {
    List,
  },
};
</script>

<style scoped>
aside {
  background-color: var(--primary);
}
h2 {
  font-size: 1.375rem;
  padding-left: 20px;
  margin-top: 10px;
}
</style>