<template>
  <ul>
    <li>
      <nuxt-link class="text-white" to="/articles">All Articles</nuxt-link>
    </li>
    <li>
      <nuxt-link class="text-white" to="/articles/create">New Article</nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {};
</script>

<style scoped>
ul {
  list-style-type: none;
}
a {
  display: block;
  font-size: 1.125rem;
  padding: 10px 35px;
  margin-top: 10px;
  margin-left: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
</style>