<template>
  <b-row class="vh-100 justify-content-center align-items-center">
    <b-col cols="12" sm="10" md="4" class="box">
      <h1 class="header text-center">LOGIN</h1>
      <b-form @submit.prevent="login">
        <b-form-group
          v-bind:class="{danger : validation.email_validation}"
          id="email"
          label="Email"
          label-for="email-input"
        >
          <b-form-input type="email" id="email-input" v-model="user.email"></b-form-input>
          <span
            class="text-danger"
            v-if="validation.email_validation"
          >{{validation.email_validation}}</span>
        </b-form-group>

        <b-form-group
          v-bind:class="{danger : validation.password_validation}"
          id="password"
          label="Password"
          label-for="password-input"
        >
          <b-form-input type="password" id="password-input" v-model="user.password"></b-form-input>
          <span
            class="text-danger"
            v-if="validation.password_validation"
          >{{validation.password_validation}}</span>
        </b-form-group>

        <b-form-group>
          <b-button type="submit" block variant="primary">Login</b-button>
        </b-form-group>

        <div>
          <label>Don’t have account?</label>
          <nuxt-link class="font-weight-bold" to="/register">Register Now</nuxt-link>
        </div>
      </b-form>
    </b-col>
    <b-alert variant="danger" :show="showalert" class="alert-box" dismissible>
      <strong>Login Failed!</strong>
      <span v-for="(value,name) in alert" :key="name">{{name}} {{value[0]}}</span>
    </b-alert>
  </b-row>
</template>

<script>
import { apiClient } from "@/services/apiClient";

export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      validation: {
        email_validation: "",
        password_validation: "",
        form_validation: true,
      },
      alert: "",
      showalert: false,
    };
  },
  methods: {
    login() {
      if (this.user.email == "") {
        this.validation.email_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.email_validation = "";
        this.validation.form_validation = true;
      }

      if (this.user.password == "") {
        this.validation.password_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.password_validation = "";
        this.validation.form_validation = true;
      }

      if (this.validation.form_validation) {
        apiClient
          .post("users/login", {
            user: {
              ...this.user,
            },
          })
          .then((result) => {
            console.log(result);
            this.alert = result.data.errors;

            if (!result.data.errors) {
              let user = {
                username: result.data.user.username,
                token: result.data.user.token,
              };
              window.localStorage.setItem("auth", JSON.stringify(user));
              setTimeout(() => {
                this.$router.push("/articles");
              }, 2000);
            } else {
              this.showalert = true;
            }
          })
          .catch((err) => console.log(err));
      }
    },
  },
};
</script>
