<template>
  <b-row class="vh-100 justify-content-center align-items-center">
    <b-col cols="12" sm="10" md="4" class="box">
      <h1 class="header text-center">Register</h1>
      <b-form @submit.prevent="register">
        <b-form-group
          v-bind:class="{danger : validation.username_validation}"
          id="user"
          label="User"
          label-for="user-input"
        >
          <b-form-input type="text" id="user-input" v-model="user.username"></b-form-input>
          <span
            class="text-danger"
            v-if="validation.username_validation"
          >{{validation.username_validation}}</span>
        </b-form-group>

        <b-form-group
          v-bind:class="{danger : validation.email_validation}"
          id="email"
          label="Email"
          label-for="email-input"
        >
          <b-form-input type="email" id="email-input" v-model="user.email"></b-form-input>
          <span
            class="text-danger"
            v-if="validation.email_validation"
          >{{validation.email_validation}}</span>
        </b-form-group>

        <b-form-group
          v-bind:class="{danger : validation.password_validation}"
          id="password"
          label="Password"
          label-for="password-input"
        >
          <b-form-input type="password" id="password-input" v-model="user.password"></b-form-input>
          <span
            class="text-danger"
            v-if="validation.password_validation"
          >{{validation.password_validation}}</span>
        </b-form-group>

        <b-form-group>
          <b-button type="submit" block variant="primary">Register</b-button>
        </b-form-group>
        <div>
          <label>Already Registered?</label>
          <nuxt-link class="font-weight-bold" to="/login">Login</nuxt-link>
        </div>
      </b-form>
    </b-col>
    <b-alert :variant="alert?'danger':'success'" :show="showalert" class="alert-box" dismissible>
      <strong>{{alert?'Register Failed!':'Registered Successfully!'}}</strong>
      <span v-for="(value,name) in alert" :key="name">{{name}} {{value[0]}}</span>
    </b-alert>
  </b-row>
</template>

<script>
export default {
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: "",
      },
      validation: {
        username_validation: "",
        email_validation: "",
        password_validation: "",
        form_validation: true,
      },
      alert: "",
      showalert: false,
    };
  },
  methods: {
    register() {
      if (this.user.username == "") {
        this.validation.username_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.username_validation = "";
        this.validation.form_validation = true;
      }

      if (this.user.email == "") {
        this.validation.email_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.email_validation = "";
        this.validation.form_validation = true;
      }

      if (this.user.password == "") {
        this.validation.password_validation = "Required Field";
        this.validation.form_validation = false;
      } else if (this.user.password.length < 8) {
        this.validation.password_validation =
          "Password is too short (minimum is 8 characters)";
        this.validation.form_validation = false;
      } else {
        this.validation.password_validation = "";
        this.validation.form_validation = true;
      }

      if (this.validation.form_validation) {
        apiClient
          .post("users", {
            user: {
              ...this.user,
            },
          })
          .then((res) => res.json())
          .then((result) => {
            this.showalert = true;
            this.alert = result.errors;
            if (!result.errors) {
              setTimeout(() => {
                this.$router.push("/login");
              }, 2000);
            }
          })
          .catch((err) => console.log(err));
      }
    },
  },
};
</script>
