<template>
  <b-row>
    <b-col cols="12">
      <h1>New Article</h1>
    </b-col>
    <b-col sm="5">
      <b-form-group
        v-bind:class="{danger : validation.title_validation}"
        id="title"
        label="Title"
        label-for="title-input"
      >
        <b-form-input type="text" placeholder="Title" id="title-input" v-model="post.title"></b-form-input>
        <span class="text-danger" v-if="validation.title_validation">{{validation.title_validation}}</span>
      </b-form-group>

      <b-form-group
        v-bind:class="{danger : validation.description_validation}"
        id="description"
        label="Description"
        label-for="description-input"
      >
        <b-form-input
          type="text"
          id="description-input"
          placeholder="Description"
          v-model="post.description"
        ></b-form-input>
        <span
          class="text-danger"
          v-if="validation.description_validation"
        >{{validation.description_validation}}</span>
      </b-form-group>

      <b-form-group
        v-bind:class="{danger : validation.body_validation}"
        id="body"
        label="Body"
        label-for="body-input"
      >
        <b-form-textarea
          placeholder="Body"
          type="text"
          id="body-input"
          v-model="post.body"
          rows="10"
        ></b-form-textarea>
        <span class="text-danger" v-if="validation.body_validation">{{validation.body_validation}}</span>
      </b-form-group>

      <b-form-group>
        <b-button @click="addPost" variant="primary">Submit</b-button>
      </b-form-group>
    </b-col>
    <b-col sm="3">
      <b-form-group id="tags" label="Tags" label-for="tags-input">
        <b-form-input
          @keyup.enter.native="addTag"
          type="text"
          placeholder="Tags"
          id="tags-input"
          v-model="tag"
        ></b-form-input>
      </b-form-group>
      <div class="checkbox-box">
        <b-form-group v-for="(tag,index) in tags" :key="index">
          <b-form-checkbox v-model="post.tagList" :id="tag" name="tag-checkbox" :value="tag">{{tag}}</b-form-checkbox>
        </b-form-group>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { apiClient } from "@/services/apiClient";
export default {
  data() {
    return {
      tags: [],
      tag: "",
      post: {
        title: "",
        description: "",
        body: "",
        tagList: [],
      },
      validation: {
        title_validation: "",
        description_validation: "",
        body_validation: "",
        form_validation: false,
      },
    };
  },
  created() {
    apiClient.get("/tags").then((res) => {
      res.data.tags.forEach((n) => {
        if (/^[a-zA-Z0-9_]*$/.test(n)) {
          this.tags = [...this.tags, n];
        }
      });

      this.tags = this.tags.sort(function (a, b) {
        if (a < b) {
          return -1;
        } else if (a > b) {
          return 1;
        } else {
          return 0;
        }
      });
    });
  },
  methods: {
    addPost() {
      if (this.post.title == "") {
        this.validation.title_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.title_validation = "";
        this.validation.form_validation = true;
      }

      if (this.post.description == "") {
        this.validation.description_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.description_validation = "";
        this.validation.form_validation = true;
      }

      if (this.post.body == "") {
        this.validation.body_validation = "Required Field";
        this.validation.form_validation = false;
      } else {
        this.validation.body_validation = "";
        this.validation.form_validation = true;
      }

      if (this.validation.form_validation) {
        this.$store.dispatch("articles/addPost", this.post).then((res) => {
          this.$store
            .dispatch("status/setStatus", {
              msg: "Well done! Article created successfuly",
            })
            .then(() => {
              this.$router.push("/articles");
            });
        });
      }
    },
    addTag() {
      console.log(this.tag);
      this.tags = [...this.tags, this.tag];
      this.post.tagList = [...this.post.tagList, this.tag];
    },
  },
};
</script>

<style scoped>
.checkbox-box {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
}
</style>