<template>
  <b-col cols="12">
    <h1>All Posts</h1>
    <Table :data="data" @delete="deletePost" :isBusy="busy" />

    <b-alert
      :show="dismissCountDown"
      dismissible
      class="alert-box"
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >{{message}}</b-alert>
  </b-col>
</template>

<script>
import Table from "@/components/Table";
import { apiClient } from "@/services/apiClient";
export default {
  props: ["delete"],
  data() {
    return {
      data: [],
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      message: "",
      busy: true,
    };
  },
  components: {
    Table,
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    deletePost(slug) {
      this.$store.dispatch("articles/deletePost", slug).then(() => {
        this.data = this.$store.getters["articles/getArticles"];
        this.message = "Article deleted successfuly";
        this.dismissCountDown = this.dismissSecs;
      });
    },
  },
  watch: {
    data: function (val) {
      this.busy = false;
    },
  },
  mounted() {
    let msg = this.$store.getters["status/getStatus"];
    if (msg.status) {
      this.message = msg.message;
      this.dismissCountDown = this.dismissSecs;
    }
  },
  created() {
    let user = JSON.parse(window.localStorage.getItem("auth"));
    this.data = this.$store.getters["articles/getArticles"];
    if (this.data.length == 0) {
      this.$store.dispatch("articles/fetchPosts", user.username).then((res) => {
        this.data = this.$store.getters["articles/getArticles"];
      });
    }
  },
};
</script>
