<template>
  <b-row>
    <b-col cols="12">
      <h1>Edit Article</h1>
    </b-col>
    <b-col sm="5">
      <b-form-group id="title" label="Title" label-for="title-input">
        <b-form-input placeholder="Title" type="text" id="title-input" v-model="post.title"></b-form-input>
      </b-form-group>

      <b-form-group id="description" label="Description" label-for="description-input">
        <b-form-input
          type="text"
          placeholder="Description"
          id="description-input"
          v-model="post.description"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="body" label="Body" label-for="body-input">
        <b-form-textarea
          rows="10"
          type="text"
          id="body-input"
          placeholder="Body"
          v-model="post.body"
        ></b-form-textarea>
      </b-form-group>

      <b-form-group>
        <b-button @click="editPost" variant="primary">Submit</b-button>
      </b-form-group>
    </b-col>
    <b-col sm="3">
      <b-form-group id="tags" label="Tags" label-for="tags-input">
        <b-form-input
          @keyup.enter.native="addTag"
          type="text"
          placeholder="Tags"
          id="tags-input"
          v-model="tag"
        ></b-form-input>
      </b-form-group>
      <div class="checkbox-box">
        <b-form-group v-for="(tag,index) in tags" :key="index">
          <b-form-checkbox v-model="post.tagList" :id="tag" name="tag-checkbox" :value="tag">{{tag}}</b-form-checkbox>
        </b-form-group>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import { apiClient } from "@/services/apiClient";
export default {
  data() {
    return {
      tags: [],
      tag: "",
      post: {
        title: "",
        description: "",
        body: "",
        tagList: [],
      },
    };
  },
  created() {
    apiClient.get(`/articles/${this.$route.params.slug}`).then((res) => {
      this.post = res.data.article;
    });
  },
  mounted() {
    apiClient.get("/tags").then((res) => {
      res.data.tags.forEach((n) => {
        if (/^[a-zA-Z0-9_]*$/.test(n)) {
          this.tags = [...this.tags, n];
        }
      });

      this.tags = this.tags.sort(function (a, b) {
        if (a < b) {
          return -1;
        } else if (a > b) {
          return 1;
        } else {
          return 0;
        }
      });
    });
  },
  methods: {
    editPost() {
      this.$store.dispatch("articles/editPost", this.post).then((res) => {
        this.$store
          .dispatch("status/setStatus", {
            msg: "Well done! Article updated successfuly",
          })
          .then(() => {
            this.$router.push("/articles");
          });
      });
    },
    addTag() {
      console.log(this.tag);
      this.tags = [...this.tags, this.tag];
      // apiClient.post("/tags", this.tag).then((res) => {
      //   console.log(res.data);
      // });
    },
  },
};
</script>

<style scoped>
.checkbox-box {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
}
</style>