<template>
  <div class="table-wrapper">
    <b-table
      :items="data"
      :fields="fields"
      head-variant="light"
      :total-rows="totalRows"
      :current-page="currentPage"
      :per-page="perPage"
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle" variant="info"></b-spinner>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
        <b-dropdown
          right
          text="..."
          class="dropdown"
          variant="info"
          @click="info(row.item.slug, $event.target)"
        >
          <b-dropdown-item :to="`/articles/edit/${row.item.slug}`">Edit</b-dropdown-item>
          <b-dropdown-divider />

          <b-dropdown-item @click="openModal(row.item.slug)">Delete</b-dropdown-item>
        </b-dropdown>
      </template>
    </b-table>
    <div class="d-flex justify-content-center">
      <b-pagination
        v-model="currentPage"
        :current-page="currentPage"
        :per-page="perPage"
        :total-rows="totalRows"
        @change="changepage"
        v-if="data"
      />
    </div>
    <b-modal ref="modal-delete" title="Delete Article">
      <p class="my-4">
        Are you sure
        to delete Article?
      </p>
      <template v-slot:modal-footer>
        <b-button variant="danger" @click="deletePost">Yes</b-button>
        <b-button variant="outline-secondary" @click="cancel">No</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { apiClient } from "@/services/apiClient";
export default {
  props: ["data", "isBusy"],
  data() {
    return {
      fields: [
        { key: "title", label: "Title" },
        {
          key: "tagList",
          label: "Tags",
          formatter: (value, key, item) => {
            return value.join();
          },
        },
        {
          key: "description",
          label: "Excerpt",
          formatter: (value, key, item) => {
            return value.substring(0, 50) + "...";
          },
        },
        {
          key: "createdAt",
          label: "Created",
          formatter: (value, key, item) => {
            return new Date(value).toLocaleDateString("en-US");
          },
        },
        { key: "actions", label: "actions" },
      ],
      selected: "",
      totalRows: 1,
      currentPage: 1,
      perPage: 7,
    };
  },
  mounted() {
    this.totalRows = this.data.length;
    this.currentPage = this.$route.query.page;
  },
  methods: {
    openModal(slug) {
      this.$refs["modal-delete"].show();
      this.selected = slug;
    },
    cancel() {
      this.$refs["modal-delete"].hide();
      this.selected = "";
    },
    deletePost() {
      this.$refs["modal-delete"].hide();
      this.$emit("delete", this.selected);
    },
    changepage(p) {
      this.$router.push({ query: { ...this.$route.query, page: p } });

      if (p == 1) {
        this.$router.push("/articles");
      } else {
        this.currentPage = p;
      }
    },
  },
};
</script>
<style>
.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}
.btn.dropdown-toggle {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active,
.show > .btn-info.dropdown-toggle {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}
</style>