html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #1c7cd5;
  --light-blue: #5bc0de;
  --dark: #373a3c;
  --dark-grey: #707070;
  --light-grey: #eceeef;
}

.nuxt-link-exact-active {
  background-color: rgba(255, 255, 255, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin: 15px 0;
}

.btn-primary {
  background-color: var(--primary);
  margin-top: 25px;
}

.custom-control-label::before {
  background-color: #dddddd;
  border-color: #dddddd;
}

a {
  color: var(--dark);
  margin-left: 5px;
}

.danger label {
  color: #dc3545;
}

.danger input,
.danger textarea {
  border: 1px solid #dc3545;
}

.alert-box {
  position: absolute;
  right: 5px;
  top: 0;
}

.alert-box span:not(:last-of-type)::after {
  content: ", ";
}

.alert-box span:last-of-type::after {
  content: ".";
}

.box {
  background-color: var(--light-grey);
  padding: 30px 20px 10px 20px;
  color: var(--dark-grey);
  border-radius: 4px;
}
