<template>
  <header class="col-12 d-flex justify-content-between align-items-center text-white">
    <User :username="username" />
    <b-button variant="outline-info" @click="logout">Logout</b-button>
  </header>
</template>

<script>
import User from "@/components/template_parts/header/User";
export default {
  components: {
    User,
  },
  computed: {
    username() {
      let user = JSON.parse(window.localStorage.getItem("auth"));
      return user ? user.username : false;
    },
  },
  methods: {
    logout() {
      window.localStorage.removeItem("auth");
      this.$router.push("/login");
    },
  },
};
</script>

<style scoped>
header {
  height: 60px;
  padding: 30px 20px;
  background-color: var(--dark);
}
</style>