<template>
  <div class="d-flex justify-content-start align-items-center">
    <h2>Arvan Challenge</h2>
    <h3 v-if="username">Welcome {{username}}</h3>
  </div>
</template>

<script>
export default {
  props: ["username"],
};
</script>

<style scoped>
h2 {
  font-size: 1.375rem;
}
h3 {
  font-size: 1rem;
  margin-left: 20px;
}
</style>