<template>
  <b-container fluid>
    <b-row>
      <Header username="MohammadReza" />
    </b-row>
    <b-row>
      <Aside />
      <Main>
        <Nuxt />
      </Main>
    </b-row>
  </b-container>
</template>

<script>
import Header from "@/components/template_parts/header/Header";
import Aside from "@/components/template_parts/sidebar/Aside";
import Main from "@/components/template_parts/Main";
export default {
  components: {
    Header,
    Aside,
    Main,
  },
};
</script>