<template>
  <Register />
</template>

<script>
import Register from "@/components/auth_parts/Register";
export default {
  layout: "auth",
  components: {
    Register,
  },
};
</script>

<style>
</style>
